@font-face {
    font-family: 'TheRumIsGone';
    src: url('therumisgone-webfont.woff2') format('woff2'),
         url('therumisgone-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html {
    overflow-x: hidden;
}
body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'TheRumIsGone', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}
.coming-soon {
    color: white;
    font-size: 6vw;
    text-align: center;
    letter-spacing: 5px;
    line-height: 140%;
    opacity: 0;
}
.coming-soon.active {
    -webkit-animation: 2s fadeInUp forwards;
    animation: 2s fadeInUp forwards;
}
.neon-text {
    position: relative;
    z-index: 10;
    border-right: 2px solid transparent;
}
.neon-text::before {
    content: attr(data-text);
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: #000;
    width: 100%;
    height: 100%;
    z-index: -1;
}
canvas {
    position: absolute;
}
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }
  
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@media screen and (max-width: 767px) {
    .coming-soon {
        font-size: 15vw;
    }
    .neon-text::before {
        bottom: 3px;
        right: 3px;
    }
}